<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.laputa.zeej">
    <!-- 请求访问网络状态 -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" /> <!-- 请求访问网络 -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Xsample">
        <activity
            android:name=".HotAndColdFlowActivity"
            android:exported="false" />
        <activity
            android:name=".std_0006_android.binder.case03.AIDLGradeActivity"
            android:exported="false" />
        <activity
            android:name=".std_0006_android.binder.case01.GradeActivity"
            android:exported="false" />
        <activity
            android:name=".std_0006_android.binder.case02.ProxyGradeActivity"
            android:exported="false" />
        <activity
            android:name=".compose.ComposeActivity"
            android:exported="false"
            android:label="@string/title_activity_compose"
            android:theme="@style/Theme.Xsample.NoActionBar" />
        <activity
            android:name=".flow.LocationActivity"
            android:exported="false" />
        <activity
            android:name=".gsy.GsyActivity"
            android:configChanges="keyboard|keyboardHidden|orientation|screenSize|screenLayout|smallestScreenSize|uiMode"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".gsy.Gsy2Activity"
            android:configChanges="keyboard|keyboardHidden|orientation|screenSize|screenLayout|smallestScreenSize|uiMode"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".std_0006_android.compose.OopActivity"
            android:exported="true" />
        <activity
            android:name=".MainActivity"
            android:hardwareAccelerated="false"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service
            android:name=".std_0006_android.binder.case01.GradeService"
            android:process=":server_xpl">
            <intent-filter>
                <action android:name="android.intent.action.server.xpl.gradeservice" />
            </intent-filter>
        </service>
        <service
            android:name=".std_0006_android.binder.case02.UserService"
            android:process=":server_xpl">
            <intent-filter>
                <action android:name="android.intent.action.server.xpl.userservice" />
            </intent-filter>
        </service>
        <service
            android:name=".std_0006_android.binder.case03.AIDLService"
            android:process=":server_xpl">
            <intent-filter>
                <action android:name="android.intent.action.server.xpl.aidl.aidl.service" />
            </intent-filter>
        </service>
    </application>

</manifest>